@model bahrsDB.Models.Product

@{
    ViewData["Title"] = "Excluir";
    ViewData["Base"] = "Você quer excluir isso?";
    ViewData["Base_Title"] = "Produto";

}

<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Base"]</h3>
<div>
    <h4>@ViewData["Base_Title"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Saida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Saida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vencimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </form>
</div>
