@model bahrsDB.Models.Stock

@{
    ViewData["Title"] = "Excluir";
    ViewData["Base"] = "Você quer excluir isso?";
    ViewData["Base_Title"] = "Estoque";
}

<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Base"]</h3>
<div>
    <h4>@ViewData["Base_Title"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </form>
</div>
